nodejs
datetime>=5.2
pytest
Appium-Python-Client>=2.11.1
Pillow>=10.0.0
pybase64
selenium
pytest-rerunfailures>=12.0
pylint>=2.17.5
PATH>=16.7.1
geckodriver-autoinstaller
pytest-html
pytest-html-lee
chromedriver
XlsxWriter>=3.1.2
flake8
requests>=2.31.0
pytest-cov>=4.1.0
google-api-python-client>=2.95.0
python-gflags
httplib2
oauth2client
uritemplate
google_auth_oauthlib
pyautogui
pytest-sugar
PyJWT>=2.8.0
wheel>=0.41.0
setuptools>=68.0.0
